header {
  height: 60px;
  position: absolute;
  top: 0;
  left: 300px;
  right: 400px;
  z-index: 3;

  .only-search-bar {
    display: block !important;

    .inner-wrapper {
      grid-template-areas: "sea";
    }

    .logo-wrapper {
      display: none !important;
    }

    .option-btn {
      display: none !important;
    }
  }

  .inner-wrapper {
    background-color: RGB($black);
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: grid;
    align-items: center;
    align-content: center;
    gap: 20px;
    z-index: 4;
    transition: ease 0.3s;
    margin: 0 auto;
    padding: 0 20px;

    &.no-bg {
      background-color: unset;
    }

    &.searching {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-items: end;
    }
  }

  .logo-wrapper {
    img {
      display: none;
    }
  }

  svg {
    fill: white;
  }

  .logo {
    filter: drop-shadow(2px 2px 5px RGB(0, 0, 0, 0.5));
  }

  &.with-opt-btn {
    grid-template-columns: 100px auto 30px;
  }

  input[type="text"] {
    padding: 10px 15px !important;
  }

  .option-btn {
    grid-area: opt;
    display: none;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;
    cursor: pointer;
  }

  svg {
    width: 20px;
  }

  .header-button {
    right: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    button {
      display: flex;
      justify-self: end;
      gap: 5px;
    }

    svg {
      position: unset;
    }
  }

  .save-btn {
    justify-self: end;
    display: flex;
    gap: 10px;
    height: 40px;
    padding-top: unset;
    padding-bottom: unset;
  }
}

@media screen and (max-width: 1200px) {
  header {
    left: 100px;
  }
}

@media screen and (max-width: 900px) {
  header {
    right: 200px;
  }
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: unset;
    right: unset;
    display: block;
    padding: unset;

    &.disabled {
      display: none;
    }

    .inner-wrapper {
      grid-template-columns: auto 1fr 30px;
      grid-template-areas: "log sea opt";

      &.searching {
        grid-template-columns: auto 1fr 0px;
      }
    }

    .logo-wrapper {
      grid-area: log;

      img {
        display: block;
      }
    }

    input[type="text"] {
      grid-area: sea;
    }

    .save-btn {
      right: 0px;
    }

    .option-btn {
      display: flex;
      justify-self: end;
      justify-content: flex-end;
    }

    .desktop-search-bar {
      display: none;
    }

    .desktop-logout-btn {
      display: none;
    }

    .header-button {
      button {
        padding: 10px 15px;
      }
    }
  }
}
