.menu-screen-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(0px);
  transition: ease 0.3s;
  pointer-events: none;

  &.active {
    backdrop-filter: blur(3px);
    pointer-events: auto;
  }
}

.menu {
  background-color: RGB($blue, 0.95) !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 100vh;
  position: absolute;
  left: 300px;
  right: 400px;
  bottom: 0;
  display: none;
  gap: 20px;
  padding: 10px 0 20px;
  backdrop-filter: blur(5px);
  transition: ease 0.3s;
  transform: translateY(100%);
  user-select: none;
  z-index: 4;
  overflow: scroll;

  @extend %hide-scrollbar;

  &.pwa-mode {
    padding-bottom: $pwa-space;
  }

  &.active {
    transform: translateY(0%);
  }

  &.disabled {
    transform: translateY(100%);
  }

  &.comment-menu {
    height: calc(100% - 60px);
    display: grid;
    grid-template-rows: 50px auto 50px;
    gap: 30px;

    .login-btn-wrapper {
      padding: 0 20px;

      button {
        width: 100%;
      }
    }
  }

  &.video-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &.confirm-deletion {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 20px;
    }

    p {
      color: RGB($white, 0.75);
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  &.report {
    .body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 20px;
    }

    textarea {
      height: 200px;
    }
  }

  &.common,
  &.share,
  &.video {
    display: flex;
    flex-direction: column;

    button {
      color: RGB($white, 0.8);
      border-top: 1px solid RGB($white, 0.05);
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px;
      transition: ease 0.2s;

      &:last-child {
        border-bottom: 1px solid RGB($white, 0.05);
      }

      &:hover {
        background-color: RGB($white, 0.05);
      }

      &:active {
        background-color: RGB($white, 0.1);
      }
    }
    svg {
      width: 20px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    cursor: pointer;

    svg {
      fill: RGB($white, 0.8);
      width: 10px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .top-bar {
    background-color: RGB($white, 0.8);
    border-radius: 50px;
    height: 4px;
    width: 50px;
  }

  .menu-title {
    text-align: center;
  }

  .confirm-delete-comment {
    background-color: RGB($blue);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .overlay {
      background-color: RGB($white, 0.1);
      height: 100%;
      position: absolute;
    }

    p {
      font-weight: 300;
      padding-left: 20px;
      z-index: 1;
    }

    button {
      color: RGB($white);
      font-weight: 400;
      z-index: 1;
      padding-right: 20px;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    gap: 20px;
    padding: 0 20px;
    @extend %hide-scrollbar;
  }

  .option-button {
    background-color: unset;
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;

    &.dislike.active {
      .icon-wrapper {
        background-color: RGB($red, 0.1);
      }
      svg {
        fill: RGB($red);
      }
    }

    .subname {
      font-size: 0.7rem;
      font-weight: 300;
    }

    div {
      border-radius: 50px;
      height: 60px;
      width: 60px;
      position: relative;

      svg {
        height: 30px;
        width: 30px;
        @extend %absolut-center;
      }

      &.x {
        background-color: black;
      }
      &.whatsapp {
        background-color: #25d366;
      }
      &.whatsapp {
        background-color: #25d366;
      }

      &.other-bg {
        border: 2px solid RGB($white, 0.2);
      }

      &.grey {
        background-color: RGB($white, 0.07);
      }

      &.red {
        background-color: RGB($red, 0.6);
      }
    }

    p {
      font-size: 1rem;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-only {
    display: none;
  }

  .logout {
    color: RGB($red, 0.8) !important;

    &:hover,
    &:active {
      background-color: RGB($red, 0.05) !important;
    }

    svg {
      fill: RGB($red, 0.8) !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    left: 100px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    right: 200px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    right: unset;
    left: unset;
    width: 100%;
    max-height: calc(100vh - 60px);

    .mobile-only {
      display: grid;
    }
  }
}
