/* ROBOTO CONDENSED */

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/roboto-condensed/roboto-condensed.woff2),
    url(../fonts/roboto-condensed/roboto-condensed.woff),
    url(../fonts/roboto-condensed/roboto-condensed.ttf);
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/roboto-condensed/roboto-condensed-italic.woff2),
    url(../fonts/roboto-condensed/roboto-condensed-italic.woff),
    url(../fonts/roboto-condensed/roboto-condensed-italic.ttf);
  font-weight: 100 1000;
  font-style: italic;
}
